@model WebApp.Model.Quality

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quality</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beauty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beauty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Communication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Communication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfPersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfPersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ByPersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ByPersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
